<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="/styles/styles.css">

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap (for modals) -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="/scripts/app.js"></script>


    <title>Shower Scheduler</title>
  </head>
  <body>
    <div class="container top-bar text-center">
        <h4 class="logo pull-left">Logo</h4>
        <h1>Shower Scheduler</h1>
    </div>

    <div class="top-content">
        <h3>LAUNCHING SOON</h3>
        <h4>Welcome to the Shower Scheduler. Never miss your morning shower ever again.</h4>
    </div>
    <hr>

    <div class="container text-center">
      <div class="row" id="schedulerbuttons">
            <button class="avail-time col-xs-10 col-xs-offset-1">
                Time: 6am - 7am
            </button>
            <button class="col-xs-10 col-xs-offset-1">
                Time: 6am - 7am
            </button>
            <button class="col-xs-10 col-xs-offset-1">
                Time: 6am - 7am
            </button>
            <button class="col-xs-10 col-xs-offset-1">
                Time: 6am - 7am
            </button>
            <button class="col-xs-10 col-xs-offset-1">
                Time: 6am - 7am
            </button>
            <button class="col-xs-10 col-xs-offset-1">
                Time: 6am - 7am
            </button>
        </div>
    </div>
    <div class="container text-center">
        <form id="entryform" class="form-horizontal hidden">
            <input type="text" name="name" placeholder="Your name">
            <br>
            <input type="text" name="email" placeholder="Your email">
            <br>
            <br>
            <button class="btn-primary" type="submit" >Submit</button>
        </form>
    </div>
    <br>
    <br>
    <h4>Lorem ipsum dolor sit amet</h4>
  </body>
</html>
