.avail-time {
  background-color: white;
}


form {
  margin: 30px;
}

.top-row {
  padding: 15px;
  padding-bottom: 30px;
  background-color: #cbe6f0;
}

.top-content {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

body {
  background-color: #fafeff;
}

h4 {
  text-align: center;
}

.schedule-button {
  border: 2px solid #4682B4;
  background-color: white;
  color: #4682B4;
  margin-top: 3px;
}

.reserved-time {
  color: grey;
}

footer {
  display: block
}

